/* Main Container */
.container {
  width: 880px;
  margin: 0 auto;
}

/* Header */
header {
  display: flex;
}

header nav {
  display: flex;
  width: 691px;
  vertical-align: top;
  margin-top: 37px;
  margin-left: 46px;
}

header nav a {
  margin-right: 81px;
  font-size: 16px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  margin-top: 8px;
  margin-left: 40px;
}

/* Top Image */
.top-content-logo {
  margin-top: 39px;
  margin-left: 39px;
}

/* About Section */
.about-info {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-top: 20px;
}

.about-info h4 {
  padding-left: 24px;
}

.about-info p {
  padding-left: 24px;
  width: 780px;
}

/* Upper Main Section */
.top-main {
  display: flex;
  flex-direction: row;
}

.top-main .strategy {
  display: flex;
  flex-direction: column;
}

.top-main .how-we-work {
  display: flex;
  flex-direction: column;
}

/* Lower Main Section */
.bottom-main {
  display: flex;
  flex-direction: row;
}

.bottom-main ..places-we-work {
  display: flex;
  flex-direction: column;
}

.bottom-main .collaboration {
  display: flex;
  flex-direction: column;
}

/* Lets Work Together Section */


/* Footer */
footer {
  width: 800px;
  background: black;
  margin-left: 35px;
}

footer nav {
  margin-top: 35px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
