/* Main Container */

.container {
  width: 880px;
  margin: 0 auto;
}

/* Header */

header {
  display: flex;
}

header nav {
  display: flex;
  width: 691px;
  vertical-align: top;
  margin-top: 35px;
}

header nav a {
  margin-right: 66px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  margin-top: 25px;
}

/* The Future / The Past Section */

.top-content {
  display: flex;
  flex-direction: row;
	margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.top-content .text-container {
	display: flex;
	flex-direction: column;
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}

/* Boxes Section */

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
	border-top: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Box Colors */

.middle-content .boxes .box1 {
  background-color: teal;
}

.middle-content .boxes .box2 {
  background-color: gold;
}

.middle-content .boxes .box3 {
  background-color: cadetblue;
}

.middle-content .boxes .box4 {
  background-color: coral;
}

.middle-content .boxes .box5 {
  background-color: crimson;
}

.middle-content .boxes .box6 {
  background-color: forestgreen;
}

.middle-content .boxes .box7 {
  background-color: darkorchid;
}

.middle-content .boxes .box8 {
  background-color: hotpink;
}

.middle-content .boxes .box9 {
  background-color: indigo;
}

.middle-content .boxes .box10 {
  background-color: dodgerblue;
}

/* Thats No Moon Section */

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/* Footer */

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
